@model IEnumerable<BankingEx.EFModels.Customer>

<p>
    <span>@ViewBag.ErrorMessage</span>
</p>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                DOB
            </th>
            <th>
                PAN
            </th>
            <th>
                City
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int x = 10;
        }

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <label>@item.Id</label>
                </td>
                <td>
                    <label>@item.Name</label>
                </td>
                <td>
                    <label>@item.Dob</label>
                </td>
                <td>
                    <label>@item.PanNumber</label>
                </td>
                <td>
                    <label>@item.City</label>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id  }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
